.card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 1px 1px 15px 1px rgb(156, 150, 150) ;
    background-color: lightpink;
    border-radius: 8px;
}

.container-main{
    display: grid;
}

.container-nav{
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: #fff;
}

.input-cards{
    display: flex;
    background-color: transparent;
    font-family:Arial, Helvetica, sans-serif;
    padding: 2px;
    border: 0;
    outline: none;
    width: 99%;
    max-height: 165px;
    min-height: 165px;
    resize: none;
    overflow: visible;
}

.container-tools{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: start;
    gap: 4px;
}

.container-m-d{
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.save-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    background-color:transparent;
    cursor: pointer;
    border: none;
    transition: 3ms;
}

.input-color{
    border: none;
    width: 10%;
    height: 80%;
    cursor: pointer;
}

.save-button:hover{
    background-color: rgb(145, 183, 222);
}

.data-time{
    margin: 0;
    font-size: 13px;
    font-family: sans-serif;
    color: rgb(156, 148, 148);
}

@media screen and (max-width: 600px){

    .container-main{
        display: grid;
        position: static;
    }

    .card{
        display: flex;
        flex-direction: column;
        margin: 10px;
        box-shadow: 1px 1px 15px 1px rgb(156, 150, 150) ;
        height: 200px;
        width: 300px;
        background-color: lightpink;
        border-radius: 8px;
    }

    .input-cards{
        max-height: 155px;
        min-height: 155px;      
    }

    .container-nav{
        display: grid;
        grid-template-columns: 70% 30%;
        background-color: #fff;
    }

    .data-time{
        margin: 0;
        font-size: 9px;
        font-family: sans-serif;
        color: rgb(156, 148, 148);
    }

    .input-color{
        border: none;
        width: 10%;
        height: 50%;
    }

    .save-button{
        transition: 3ms;
        height: 100%;
        width: 20%;
    }
}

