.create-button{
    background-color: transparent;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: 3ms;
}

.create-button:hover{
    scale: 120%;
}


@media screen and (max-width: 600px){

.create-button{
    position: relative;
    left: 40%;    
}
}